<div  class= "products" fxLayout="colomn" >
    <div *ngFor="let b of snacks">
        <mat-card class="items" >
            <mat-card-header>
        <mat-card-title>{{b.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{b.image}}">
            <mat-card-content>
                <p>
                    {{b.details}}
                </p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-button (click)="buy(b)" routeLinkActive="active">Buy</button>
            <button mat-button (click)="cart(b)" routeLinkActive="active" >Add to Cart</button>
            </mat-card-actions>
        </mat-card>    
    </div>
</div>  

