<div fxLayoutAlign="center center" fxFlexFill >
    <mat-card fxFlex="25">
      <mat-toolbar class="header"  fxFlexFill>SIGNUP</mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column" class="login">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput  placeholder="First Name" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Second Name</mat-label>
        <input matInput placeholder="Second Name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="pat@example.com">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput placeholder="password">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Re-type Password</mat-label>
        <input matInput placeholder="Re-type Password">
      </mat-form-field>
    
        <button mat-button routerLink="/admin" routerLinkActive="active">Sign up</button>
        
      
      </form>
    </mat-card>
  </div>
  
  

