
  <mat-toolbar class="toolbar">
    <button mat-icon-button aria-label="Example of home" routerLink="/" routeLinkActive="active">
      <mat-icon>home</mat-icon>
    </button>
    
    <button mat-icon-button aria-label="Example of menu" routerLink="/products" routeLinkActive="active">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title ml-5">welcome to kitchen story</span>
    
    
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Example of cart" routerLink="/cart" routeLinkActive="active">
      <mat-icon>shopping_cart</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="accountcircle">
      <button mat-menu-item style="text-align: center; " routerLink="/admin" routeLinkActive="active" >admin</button>
      <button mat-menu-item style="text-align: center;" routerLink="/user" routerLinkActive="active">user</button>
      
    </mat-menu>

    
  </mat-toolbar>
  <router-outlet></router-outlet>


